@font-face {
    font-family: 'Electrolux Sans';
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    src: 
        local('Electrolux Sans Light'),
        url(./fonts/ElectroluxSans-Light.woff) format('woff');
}

@font-face {
    font-family: 'Electrolux Sans';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: 
        local('Electrolux Sans Regular'),
        url(./fonts/ElectroluxSans-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Electrolux Sans';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: 
        local('Electrolux Sans SemiBold'),
        url(./fonts/ElectroluxSans-SemiBold.woff) format('woff');
}

@font-face {
    font-family: 'Electrolux Sans';
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: 
        local('Electrolux Sans Bold'),
        url(./fonts/ElectroluxSans-Bold.woff) format('woff');
}